  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background: #f4f6f8;
    color: #333;
  }
  img{
    display: none;
    width: 300px;
    height: 300px;
    border-radius: 50%;
     display: block;
    margin: 0 auto;
  }

  header {
  background-color: crimson;
    color: white;
    text-align: center;
    padding: 1.5em;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    flex-wrap: wrap;
  }

  #moneda{
        width: 100%;
    padding: 8px;
    margin-top: 1%;
  }
  section {
  background: white; 
  border-radius: 8px; 
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1); 
  margin: 0 auto 5%; 
  padding: 40px; 
  width: 50%;
  height: auto; 
  min-width: 300px;

  }

  label {
    display: block;
    margin: 1%;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 1%;
  }

  button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #0b5ed7;
  }

  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }
  input[type="submit"] {
    font-family: 'Times New Roman', Times, serif;
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
  }
  h2
  {
    font-size: larger;

  }





